* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font: 'Irish Grover', cursive;
}

body {
    font-family: var(--font);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background: linear-gradient(0.30turn, #FFDA9A 10%, #FEB1D1, #FB92FD, #E092FE, #CF91FF, #BA91FE, #A795FF, #90ACFE, #82BCFC, #64DFFF);
}

header{
    height: 12vh;
    width: 100vw;
    background-color: #AE347E;
    display: flex;
    align-items: center;
}
    

.backHouse{
    cursor: pointer;
    height: 65%;
    display: flex;
    padding-left: 30px;
    gap: 10px;
}

.backHouse img{
    height: 90%;
}

h1{
    align-self: center;
    color: white;
    font-size: 15px;
}

.pesquisaBarra{
    border: transparent;
    display: flex;
    padding-left: 20%;
}

.pesquisaBarra:focus{
    outline-style: none;
}


input{
    font-size: 18px;
    border: transparent;
    font-family: var(--font);
    padding-left: 4%;
    height: 6vh;
    width: 40vw;
    border-radius: 50px;
}

.lupinha{
    padding-left: 8px;
    height: 16px;
    place-self: center;
}

main{
    height: 80vh;
    display: grid;
    justify-content: center;
    place-content: start center;
}


h2{
    color: #3A3232;
    display: flex;
    padding-top: 2%;
    justify-content: center;
    font-size: 60px;
}

.container{
    transition: 0.5s;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 32vh;
    width: 15vw;
    background-color: #F6D3F6;
}

.title{
    padding-top: 2%;
    padding-bottom: 8%;
}

.container:hover{
    height: 55vh;
}

.types{
    padding-top: 10px;
    width: 60%;
}

span{
    color: #3A3232;
    padding-top: 6%;
    display: grid;
    font-size: 45px;
}

.description{
    padding-top: 10%;
    text-align: center;
    font-size: 16px;
}

.containers-card {
    gap: 50px;
    align-items: start;
    height: 40vh;
    display: flex;
}

.azul{
    background-color: #DCF2FC;
}