 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font: 'Irish Grover', cursive;
}



body {
    font-family: var(--font);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background: linear-gradient(0.30turn, #FFDA9A 10%, #FEB1D1, #FB92FD, #E092FE, #CF91FF, #BA91FE, #A795FF, #90ACFE, #82BCFC, #64DFFF);
}

header{
    height: 25vh;
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}
    

.home{
    height: 10px;
}


.backHouse{
    cursor: pointer;
    height: 60%;
    display: flex;
    gap: 10px;
    padding-bottom: 0px;
    padding-left: 30px;
}

.info{
    height: 100%;
    place-content: start;
    display: grid;
}

.infoComic{
    display: flex;
    background-color: #FFDDDD;
    height: 500px;
    width: 900px;
    border: 5px solid #3C2A2A;
    gap: 10px;
}

.titleCard{
    color: #359EB4;
    font-size: 40px;
    text-shadow: 1px solid black;
    -webkit-text-stroke-width: 0.1px; 
    -webkit-text-stroke-color: #000; 
}

p{
    font-size: 30px;
}

.capaComic{
    height: 400px;
    padding: 25px;
}

.sumir{
    display: none;
}

.backHouse img{
    cursor: pointer;
    height: 50%;
}

h1{
    color: rgb(11, 11, 11);
    font-size: 15px;
    padding-top: 20%;
}


.pesquisaBarra{
    display: flex;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.pesquisaBarra:focus{ 
    outline-style: none;
}


input{
    font-size: 18px;
    border: 3px solid#5030AA;
    font-family: var(--font);
    padding-left: 4%;
    height: 6vh;
    width: 40vw;
    border-radius: 50px;
}

.lupinha{
    padding-left: 8px;
    height: 16px;
    place-self: center;
}


h2{
    color: #3A3232;
    display: flex;
    justify-content: center;
    font-size: 60px;
}


.comics {
    padding: 30px 0px; 
    display: grid;
    grid-template-columns: repeat(5, 0.1fr);
    gap: 50px;
    text-align: center;
    justify-content: center;
}


.card-story{
    cursor: pointer;
    height: 195px;
    width: 135px;

}

.card-story img{
    height: 200px;
}

.storys p{
    width: 135px;
    display: flex;
    padding: 5px;
    font-size: 18px;
    transition: transform 0.1s ease;
}

.storys:hover{
    transform: scale(1.1);
}


h3{
    padding: 5px;
    font-size: 25px;
    color: #150052;
}

 main {
    overflow-y: auto;
    height: 500px; 
    display: grid;
    place-content: center;
} 


 .pesquisaBarra {
    
    position: sticky;
    top: 0;
    z-index: 100; 
} 


.titleEbar, .pesquisaBarra {
    position: sticky;
    top: 0;
    z-index: 100;
}

.storys {
    position: relative;
    transition: transform 0.1s ease;
    z-index: 1;
}

.main:hover .storys {
    transform: scale(1.1);
    z-index: 2;
} 

h4{
    color: #150052;
    display: flex;
    justify-content: center;
    font-size: 40px;
}