* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font: 'Irish Grover', cursive;
}

body {
    font-family: var(--font);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background: linear-gradient(0.30turn, #FFDA9A 10%, #FEB1D1, #FB92FD, #E092FE, #CF91FF, #BA91FE, #A795FF, #90ACFE, #82BCFC, #64DFFF);
}

header{
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
    

.backHouse{
    cursor: pointer;
    height: 60%;
    display: flex;
    padding-left: 30px;
    gap: 10px;
}

.backHouse img{
    height: 120%;
}

h1{
    color: rgb(11, 11, 11);
    font-size: 15px;
    padding-top: 20%;
}


.pesquisaBarra{
    display: flex;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.pesquisaBarra:focus{ 
    outline-style: none;
}


input{
    font-size: 18px;
    border: 3px solid#5030AA;
    font-family: var(--font);
    padding-left: 4%;
    height: 6vh;
    width: 40vw;
    border-radius: 50px;
}

.lupinha{
    padding-left: 8px;
    height: 16px;
    place-self: center;
}

.comics{
    padding: 30px 0px 0px 0px;
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: center;
}

h2{
    color: #3A3232;
    display: flex;
    justify-content: center;
    font-size: 60px;
}

main{
    padding: 35px;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    font-size: 30px;
}

.season1{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    background-color: #37B0C9;
}

.season2{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    background-color: #F140A9;
    color: white;
}

footer{
    display: flex;
    justify-content: center;
}

.ponies_img{
    display: flex;
    justify-content: center;
    height: 40vh;
}

