* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font: 'Irish Grover', cursive;
}

body {
    font-family: var(--font);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(0.30turn, #FFDA9A 10%, #FEB1D1, #FB92FD, #E092FE, #CF91FF, #BA91FE, #A795FF, #90ACFE, #82BCFC, #64DFFF);
}


header img{
    cursor: pointer;
}

.ponies_png {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    position: relative;
    top: 2%;
}

.img2 {
    width: 13%;
    height: 25%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icone {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    height: 12%;
    z-index: 9999;
}

.github{
    display: flex;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 120px;
    margin: 20px;
    height: 7%;
    z-index: 9999;
}


a{
    text-decoration: none;
}

.characters_button:hover {
    background-image: url(./img/sparkle.gif);
    color: black; 
}

.api{
    display: flex;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 200px;
    margin: 15px;
    height: 9.5%;
    z-index: 9999;
}

.links{
    display: none;
}

.mostrar{
    display: flex;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.comics_button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 14vw;
    height: 13vh;
    font-size: 25px;
    border-radius: 10px;
    color: #820896;
    background-color: #FFE5F5;
    transition: color 0.3s; 
}

.comics_button:hover {
    background-image: url(./img/sparkle.gif);
    color: black; 
}

.characters_button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 14vw;
    height: 13vh;
    font-size: 25px;
    border-radius: 10px;
    color: #820896;
    background-color: #FFE5F5;
    transition: color 0.3s; 
}


.characters_button:hover {
    background-image: url(./img/sparkle.gif);
    color: black; 
}

.episodes_button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 14vw;
    height: 13vh;
    font-size: 25px;
    border-radius: 10px;
    color: #820896;
    background-color: #FFE5F5;
    transition: color 0.3s; 
}

.episodes_button:hover {
    background-image: url(./img/sparkle.gif);
    color: black; 
}